
{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}


{% if user.is_authenticated %}
<h3 class="display-5"> welcome {{ user.username }}</h3>
<br>
<a href="{% url 'profile' user_id=user.id %}" class="btn btn-outline-success"><i class="far fa-id-badge"></i> My Profile</a>
<a href="{% url 'logout' %}" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i></i></a>
{% else %}
<a href="{% url 'signup' %}">signup</a>
<a href="{% url 'login' %}">login</a>
{% endif %}


{% endblock %}